<div class='mt-4'>
  <form method='post' action=''>
    <div class='form-group'>
      <label for='searchInput' class='form-label'>Search</label>
      <input
        type='text'
        name=''
        class='form-control'
        id='searchInput'
        placeholder='Enter search term'
      />
    </div>
    <button type='submit' class='btn btn-primary mt-2'>Search</button>
  </form>
</div>